<ion-header transparent>

  <ion-navbar  color="gradient">
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class ="bg-bull" >
  <div style="margin:inherit;">
        <ion-grid>
            <ion-row>
                <ion-col col-1></ion-col>
                <ion-col col-10>
  <form  [formGroup]="form" (submit)="doLogin()" >
    <ion-list >

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" formControlName = "email"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" formControlName="password"></ion-input>
      </ion-item>

      <div style="margin-top: 50px" >
        <button ion-button round color="light" block [disabled]="!this.form.valid">{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-col>
</ion-row>
</ion-grid>
</div>
</ion-content>

 
