<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header transparent> 

  <ion-navbar  color="gradient">
    <ion-title style ="text-align: center;color: #ffff">Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-bull">

	<!-- <div text-center style="background: white;"> 
        <img src="assets/img/icon.png" style="width: 50%;margin-top: 20px;margin-bottom: 20px;"/>  
    </div> -->
<div style="margin-top: 50px;">.

        <ion-grid >
            <div class="row">
            <ion-col  col-6 (click)='todaytotalcustomer()'>
                <ion-card  >
                    <div style="min-height: 130px;background: linear-gradient(#4979ea, #01309f);color:white;text-align: center;padding: 40px 10px;">
                    <p style="color:white;text-shadow: 0px 4px 5px #000;"> Total Customer (Today) </p>
                    </div>
                </ion-card>
            </ion-col>
       
            <ion-col  col-6 (click)='todaypendingcustomer()'>
                <ion-card  >
                    <div style="min-height: 130px;background: linear-gradient(#4979ea, #01309f);color:white;text-align: center;padding: 40px 10px;">
                    <p style="color:white;text-shadow: 0px 4px 5px #000;"> Total Pending (Today) </p>
                    </div>
                </ion-card>
            </ion-col>
        </div>
        </ion-grid>

        <ion-grid >
                <div class="row">
                <ion-col  col-6 (click)='todaydonecustomer()'>
                    <ion-card  >
                        <div style="min-height: 130px;background: linear-gradient(#4979ea, #01309f);color:white;text-align: center;padding: 40px 10px;">
                        <p style="color:white;text-shadow: 0px 4px 5px #000;"> Total Done (Today) </p>
                        </div>
                    </ion-card>
                </ion-col>
           
                <ion-col  col-6 (click)='totalcustomer()'>
                    <ion-card  >
                        <div style="min-height: 130px;background: linear-gradient(#4979ea, #01309f);color:white;text-align: center;padding: 40px 10px;">
                        <p style="color:white;text-shadow: 0px 4px 5px #000;"> Total Customer (All) </p>
                        </div>
                    </ion-card>
                </ion-col>
            </div>
            </ion-grid>

    </div>
   

</ion-content>
