<!--
  Generated template for the TokenexecutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Customer Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-avatar item-start *ngIf="item.image != ''; else elsetag;">
        <img src="{{this.api.url1+item.image}}"  style="height:50px;width:50px;">
      </ion-avatar>
      <ng-template  #elsetag>
        
              <img alt="logo" class="bgcircle" src="assets/img/user.jpeg" style="height:50px;width:50px;">
          
      </ng-template> 
      
    <div class="input-wrap">
        <form [formGroup]="form">

    <ion-list>
        <ion-item>
          <ion-label fixed>Customer Name</ion-label>
          <ion-input formControlName="customername"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label fixed>Mobile </ion-label>
          <ion-input formControlName="mobile"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Token Number</ion-label>
            <ion-input formControlName="tokennumber"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label fixed>Description</ion-label>
              <ion-input  formControlName="description"  placeholder="Write complaint here..." name="description"></ion-input>
            </ion-item>
      
      </ion-list>
      <button ion-button  (click)="submit()">Execute</button>
      </form></div>
</ion-content>
