


$ThemeColor :#0f3eae;

.bg-bull{
    background: linear-gradient(#ffff,#fff);
} 

.toolbar-background-md {
    background-color: $ThemeColor;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    margin-top:20px;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0 0 0px !important;
}
.toolbar-background-ios {
    background: $ThemeColor !important;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #f9f2ff !important;
    background-color: transparent;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff !important;
    pointer-events: auto;
}
.yourtoastclass {
  .toast-wrapper {
    background: #fff;
    opacity: 1;
    border: 2px solid #aaa;
    border-radius: 10px;
    text-align: center;
  }
  .toast-message {
    font-size: 2.5rem;
    color: #000;
  }
} 

 
