<ion-header>

  <ion-navbar>
    <ion-title>Today Pending Customer</ion-title>

   
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let item of pendingcustomer" (click)="showdetails(item)">
        <ion-avatar item-start *ngIf="item.image != ''; else elsetag;">
          <img src="{{this.api.url1+item.image}}"  style="height:50px;width:50px;">
        </ion-avatar>
        <ng-template  #elsetag>
          
                <img alt="logo" class="bgcircle" src="assets/img/user.jpeg" style="height:50px;width:50px;">
            
        </ng-template> 

        

        <h2>{{item.name}}</h2>
        <p>{{item.contactNo}}</p>
        
        <ion-badge item-end color="danger">#{{item.TokenNumber}}</ion-badge>
      </ion-item>
    </ion-list>



</ion-content>